@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>
<table>
    <tr>
        <td style="background-color: White; vertical-align:top;">
            <div style="color: White; background-color: #507CD1; font-weight: bold; font-size: 12px; padding: 8px;"> <i>Busqueda</i></div>

            <a href="~/Clientes/ListaBuscar">Clientes</a>
            <a href="~/Correos/ListaBuscar">Correos</a>
            <a href="~/Direccions/ListaBuscar">Direcciones</a>
            <a href="~/Telefonoes/ListaBuscar">Telefonos</a>
        </td>
    </tr>
</table>
